h1{
  font-family: Verdana, Geneva, sans-serif; color: #336699; text-align: center;
  font-size: 4.0em;
  letter-spacing:10px;
}
body{
  margin: 0;
  padding: 0;
  background: white;
}
.nav-bar ul{
  list-style: none;
  background: #336699;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav-bar li{
  display: inline-block;
}
.nav-bar a{
  text-decoration: none;
  color: White;
  width: 200px;
  display: block;
  padding: 15px;
  font-size: 18px;
  font-family: Verdana, Geneva,sans-serif;
}
.nav-bar a:hover{
  color: #336699;
  text-decoration:underline ;
  background: white;
  transition: 0.4s;
